
# Ignore pre-migration obs-stream SW while migrating and not deleted
/configuration_files/
/scripts/
/dashboard/
/modules/
/pyenvs/
/reports/

# Ignore cgf-suite for the time being
/cfg-suite/
/metadata-suite/
/qc-suite/
/data_migration/
