#Python 3.7.3
matplotlib==3.0.3
numpy==1.16.2
pandas==0.24.2
requests==2.21.0
dask==1.1.4
datashader==0.7.0
xarray==0.12.1
pyreadr==0.1.9
unidecode==1.0.23
pyarrow==0.14.0
#prompt_toolkit==1.0.15
prompt_toolkit==2.0.1
holoviews==1.12.1
bokeh==1.1.0
geoviews==1.6.2
panel==0.6.0
jupyter==1.0.0
pscript==0.7.1
fpdf==1.7.2
weasyprint==50
jinja2==2.10
